export BOT_TOKEN=<your-Telegram-API-token>
export SPREADSHEET_ID=<Google-Spreadsheet-Id>
export NOTIFY_CHAT_ID=<Telegram-Chat-Id>
export API_SERVICE_KEY_JSON_DATA=<Google-API-service-account-JSON-key-text>
export API_DATA_FETCH_TASK_INTERVAL_MIN=<Data-fetch-time-interval>